!!! 5
%head
  %title= title :site_name => "HK Air Pollution Graphs"
  %meta{name: :description, content: yield(:description)}
  %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
  = stylesheet_link_tag "application"
  = javascript_include_tag "application"
  = csrf_meta_tags
  /[if IE]
    = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"

%body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        %a.btn.btn-navbar{'data-toggle' => "collapse", 'data-target' => ".nav-collapse"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand{href: root_path} HK Air Pollution
        .nav-collapse
          %ul.nav
            %li{class: active_if(params[:action] == 'index')}
              %a{href: pollution_path}
                %i.icon-map-marker.icon-white
                Individual Stations
            %li
              %a{href: compare_path}
                %i.icon-signal.icon-white
                Compare Stations
                    
  .container
    - flash.each do |type, message|
      %div.alert-message.fade.in{ "data-alert" => "alert", :class => twitterized_type(type) }
        %a.close{:href => "#"} ×
        %p= message
    = yield
    %footer.footer
      .container
        %p
          %small Developed over a couple of lunches - improvements and new features will be coming
        %p.pull-right
          %small= t("developed_by")
          =link_to("ThoughtSauce", "http://thought-sauce.com")
          ,
          =link_to("83bits", "http://83bits.com")
          and
          = link_to("Eddie", "http://3dd13.me")


